:root {
  --van-search-left-icon-color: blue !important;
  --theme-linear-gradient: linear-gradient(90deg, #3f3ff587, #5e3ffc);
}

body {
  font-size: 14px;
}

.bottom-gray-line {
  border-bottom: 1px solid #f2f2f2;
}
